<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mqttServer" value="iot.agyliti.com.br"/>
    <add key="mqttServerPort" value="1883"/>
    <add key="mqttServerUsername" value="agyliti"/>
    <add key="mqttServerPassword" value="C4m4l340@"/>
    <add key="sqlServer" value="localhost"/>
    <add key="sqlServerDatabase" value="getlock"/>
    <add key="sqlServerUser" value="rx"/>
    <add key="sqlServerPassword" value="C102030c#"/>
  </appSettings>
</configuration>