<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mqttServer" value="iot.agyliti.com.br"/>
    <add key="mqttServerPort" value="1883"/>
    <add key="mqttServerUsername" value="agyliti"/>
    <add key="mqttServerPassword" value="C4m4l340@"/>
    <add key="sqlServer" value="localhost"/>
    <add key="sqlServerDatabase" value="rxApp"/>
    <add key="sqlServerUser" value="rx"/>
    <add key="sqlServerPassword" value="C102030c#"/>
    <add key="zabbixServer" value="monitoramento.agyliti.com.br"/>
    <add key="zabbixSenderPath" value="C:\zabbix\bin\win64\"/>
    <add key="zabbixTimerOnOff" value="OFF"/>
    <add key="zabbixTimerInterval" value="8000"/>
    <add key="zabbixHostTimer" value="getlock_transform"/>
    <add key="zabbixItemTimer" value="mqtt_control"/>
    <add key="zabbixHostMessage" value="getlock_transform"/>
    <add key="zabbixItemMessage" value="mqtt_control"/>
  </appSettings>
</configuration>